
/* //////////// */
/* Wrapper */
/* //////////////// */
#dashboard-wrapper {
    padding: 1rem 1rem 0 1rem;
}
/* //////////// */
/* Top Banner */
/* //////////////// */
#d-banner {
    display: grid;
    grid-auto-flow: column;
}#d-banner>h1 {
    font-weight: 700;
}#d-banner section {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-items: center;
    grid-gap: 3px;
}

#d-avatar>img {
    width: 30px;
    border-radius: 20px;
}

#d-banner .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    /* background-color: white; */
    background-size: cover;
    justify-self: flex-end;
    font-size: large;
 }
/* //////////// */
/* Main Grid */
/* ////////// */
#d-grid {
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}.d-grid-item {
    height: 500px
}.d-grid-item>.card {
    height: 475px;
    justify-content: center;
}

/* //////////// */
/* Media Query */
/* ////////// */
@media screen and (max-width: 558px) {
    #dashboard-wrapper {
        padding: 0;
    }
    /* #d-banner a {
        height: 22px;
        font-size: 9px;
        text-wrap: nowrap;
    }#d-avatar > span{
        display: none;
    } */

 

}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap')